body {
    background: #222222;
  }
  
  .datetime {
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #191919;
    border-radius: 4px;
    border-right: 10px #009578 solid;
    width: 400px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }
  
  .time {
    font-size: 4em;
    color: #00ffcc;
  }
  
  .btnMenos, .btnMais {
    margin-top: 12px;
    color: #00ffcc;
    background-color: #191919;
    box-shadow: none;
    font-size: 1.75em;
  }
  