body {
    background: #191919;
  }
  
  .datetime{
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #191919;
    border-radius: 4px;
    border-right: 10px #009578 solid;
    width: 400px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }
  
   .datetime2 {
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #191919;
    border-radius: 4px;
    border-right: 10px #9c0964 solid;
    width: 400px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }

  .time{
    font-size: 4em;
    color: #00ffcc;
  }
  
  .time2{
    font-size: 4em;
    color: #9c0964;
  }
  

  .btnMenos, .btnMais, .btnMenos2, .btnMais2 {
    margin-top: 12px;
    color: #00ffcc;
    background-color: #191919;
    box-shadow: none;
    font-size: 1.75em;
  }
  